@media (min-width:320px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .logo-nav{
        width: 250px;
    }
    
    #inovacao{
        width: 100%;
    }
    
    .box-inovacao{
        width: 100%;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .btn-2{
        border: 1px solid purple;
        background: purple;
        color: white;
        border-radius: 7px;
        padding: 12px 90px;
    }

    .primeira-imagem{
        width: 300px;
        margin-left: 100px;
    }
}

